{% if page.taxonomy.tag %}
<span class="tags">
    {% for tag in page.taxonomy.tag %}
    <a class="badge badge-pill badge-info p-2" href="{{ page.parent.parent.url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
    {% endfor %}
</span>
{% endif %}
