@import "core/mixins";
@import "custom-variables";
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}

h3 {
  font-family: 'Noto Serif SC', serif;
  letter-spacing: 5px;
  text-align: center;
  margin: 2rem;
}
// Your custom styles
$logo-size: 120px;
$logo-gap: 7px;

.rect {
  float: right;
  border-radius: 0 0 0 10px;
  //box-shadow: rgba(120, 120, 120, 0.2) -3px 3px 6px ;
}
.rect-0 {
  width: $logo-size + 3.5*$logo-gap;
  height: $logo-size + 3.5*$logo-gap;
  background-color: $default-color;
  box-shadow: -3px 3px 10px #ddd;
}
.rect-1 {
  width: $logo-size + 2.5*$logo-gap;
  height: $logo-size + 2.5*$logo-gap;
  background-color: $secondary-color;
}
.rect-2 {
  width: $logo-size + 1.7*$logo-gap;
  height: $logo-size + 1.7*$logo-gap;
  background-color: $primary-color;
}
.logo {
  float: right;
  width: $logo-size + $logo-gap;
  height: $logo-size + $logo-gap;
  background-color: white;
  border-radius: 0 0 0 10px;
}
.logo img {
  width: ($logo-size/2.5);
}
#sidenav nav {
  width: $logo-size;
  float: right;
  ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0 !important;
    li {
      font-weight: 500;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 70px;
      a {
        color: $secondary-color !important;
        * {
          transition: color 0.3s ease;
        }
      }
      a:hover * {
        color: $primary-color !important;
      }
      a.active:hover .text {
        color: white !important;
      }
      a.active {
        .text {
          color: white;
          //border-bottom: 8px double $secondary-color;
          //box-shadow: 0 5px 0 $primary-color;
          //background: url('/grav-admin/user/themes/law-theme/images/brush.png') no-repeat;
          //background-size: 100% 95%;
          background-color: $primary-color;
          padding: 8px 0;
          border-radius: 4px;
        }
      }
    }
    .nav-label {
      $width: 100px;
      position: absolute;
      text-align: right;
      width: $width;
      margin-left: -($width + 10px);
      color: $default-color !important;
      font-weight:600;
    }
    .nav-divider {
      $size: 40px;
      width: $size;
      height: $size;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: opacity(0.3);
      margin: 8px;
    }
  }
}

.navbar-brand {
  width: 40px;
}
.navbar {
  background-color: #efffff;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.sidebar {
  top: 0;
  right: 0;
  height: 100vh;
}
.body-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

/* Mobile navbar */
.navbar-collapse.collapse.show {
  height: 100vh;
}
.navbar-collapse.collapse {
  transition: height 0.4s;
}
.navbar-collapse.collapsing {
  height: 0 !important;
}
.navbar-nav {
  height: 100vh;
}
#navbarLinks ul {
  list-style: none;
  text-align: center;
  font-size: 35pt;
  margin-top: -65px;
}

/* Title page */
.freelance-image {
  background-image: url("/grav-admin/user/themes/law-theme/images/vector.PNG");
}
.left-wave {
  background-image: url("/grav-admin/user/themes/law-theme/images/wave.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.right-wave {
  background-image: url("/grav-admin/user/themes/law-theme/images/rightwave.png");
}
.vector-background {
  width: 600px;
  @include media-breakpoint-down(md) {
    width: 450px;
  }
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;

}
.h-overflow {
  overflow-x: hidden;
}
.main-title-rectangle {
  $size: 350px;
  $m-size: 200px;
  @include media-breakpoint-down(md) {
    width: $m-size;
    height: $m-size;
    h1 { font-size: $m-size/4; }
  }
  @include media-breakpoint-up(md) {
    width: $size;
    height: $size;
    h1 { font-size: $size/4; }
  }
  background-color: white;
  border: $primary-color 5px solid;
  border-radius: 5px;
  h1 {
    border-radius: 10px;
    color: $primary-color;
    position: relative;
  }
  .head0 {
    left: -30%
  }
  .head1 {
    right: -25%
  }
}
.main-subtitle {
  position: relative;
    z-index: -1;
  h2 {
    color: $secondary-color;
    font-weight: 400;
  }
}
.back-heading {
  position: absolute;
  z-index: -2;
  color: $white-blue;
  overflow: hidden;
  white-space: nowrap;
  font-size: 140px;
  font-weight: 600;
  margin-top: -10px;
}

#particles-js canvas {
  top: 0;
  position: absolute;
  z-index: -3;
}
.box-container {
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
}

.footer {
  background-color: $secondary-color;
}

/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
/* Bootstrap editing */
.btn-outline-info {
  background-color: white !important;
}

/* About page */
#about-container section {
  padding: 20px 0;
}
.strong-shadow {
  box-shadow: 0px 4px 2px -4px rgba(0, 0, 0, 0.4), 0px 4px 1px 0px rgba(0, 0, 0, 0.2) !important;
}
.grey-border {
  border: 1px solid #aaa !important;
}
.paragraph p{
  font-size: 14pt;
  text-align: justify;
}
.serif {
  font-family: 'Noto Serif SC', serif;
}
/*  --- Timeline */
$timeline-circle-size: 30px;
$block-height: 140px;
$line-side-padding: 12px;
.timeline-line {
  height:360px;
  width: $timeline-circle-size;
  padding: 0 $line-side-padding;
}
.timeline-circle {
  width: $timeline-circle-size;
  height: $timeline-circle-size;
  background: white;
  border-radius: 50px;
  margin-left: -$line-side-padding;
}
.timeline-circle:not(:first-child) {
  margin-top: $block-height
}
.timeline-description {
  height: $block-height + $timeline-circle-size;
  .timeline-date {
    line-height: $timeline-circle-size;
    font-family: 'Fraunces', serif;
  }
  ul {
    text-align: inherit;
  }
}

#left-timeline .timeline-description {
  margin-top: $block-height + $timeline-circle-size;
  text-align: right !important;
  ul {
    direction: rtl;
    padding-right: 2rem;
    padding-left: 0;
  }
}
#right-timeline .timeline-description {
  text-align: left !important;
}
@include media-breakpoint-up(md) {
  #right-timeline .timeline-description:nth-child(even) {
    visibility: hidden;
  }
}
/* Blog styles */
.img-banner {
  height: 300px;
  object-fit: cover;
}
.e-content {
  ul {
    text-align: left !important;
  }
  p {
    padding: 5px 0;
  }
}
.card-logo {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  max-height: 30px;
}