<div class="bricklayer bricklayer-{{ page.currentPosition }}">
  {% if page.collection|length == 0 %}
    <p class="mb-3">Aucun projet</p>
  {% endif %}
  {% for child in page.collection %}
    <div class="card mb-3">
    {% set image = child.media.images|first %}
    {% if image %}
      <div class="card-image">
        <a href="{{ child.url }}">{{ image.cropZoom(800,400).html('', '', 'card-img-top')|raw }}
          {{ child.media.images['logo.png'].html('', '', 'card-logo') }}</a>
      </div>
    {% endif %}
    <div class="card-body">
      <div class="card-title">
        <h5>{{ child.title }}</h5>
      </div>
      <div class="tags mb-2">
        {% for tag in child.taxonomy.tag %}
          <a class="badge badge-pill badge-info p-2" href="{{ page.parent.url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
      {{ child.content|regex_replace('/<img.*>\n/','')|raw|split("\n")[0] }}
      <a href="{{ child.url }}">Read more...</a>
    </div>
    </div>
  {% endfor %}
</div>



