<div class="row my-5">
  {% set desc = page.content|split('\n') %}
  {% for index, feature in page.header.features %}
    <div class="col-12 col-md-{{ 12/(page.header.features|length) }} px-4 text-center flex-grow-0" data-aos="fade-up" data-aos-duration="800" data-aos-delay="{{ 100*index }}">
      <i class="{{ feature.icon }} fa-3x secondary-ic mb-2"></i>
      <div class="fw-bold">
        {{ feature.text }}
      </div>
      <div>
        {{ desc[index] }}
      </div>
    </div>
  {% endfor %}
</div>