{% extends 'partials/base.html.twig' %}

{% block content %}

  <div id="about-container" class="main-content col-12 flex-row h-100 d-flex align-items-center flex-center">
    <div class="card flex-center strong-shadow grey-border" style="margin-top: 100px">
      <div class="card-body p-md-5 pb-md-0">
        <section id="about-header">
          {% set image = page.media.images|first %}
          {% if image %}
            <div class="mb-4 flex-center" style="margin-top: -140px">
              {{ image.cropZoom(180, 180).html('', '', 'img-fluid rounded-circle img-thumbnail grey-border')|raw }}
            </div>
          {% endif %}
          <div class="flex-grow-1">
            <h1 class="text-center">{{ page.header.pagetitle }}</h1>
            <ul class="list-inline">
              {% for link in page.header.links %}
                <li class="list-inline-item mx-2">
                  <a href="{{ link.link }}" target="_blank">
                    <i class="{{ link.icon }} me-1"></i>
                    {{ link.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </section>
        <section id="about-description" class="paragraph w-100 serif">
          {{ page.content }}
        </section>
{#        <section id="about-skills" class="d-flex flex-center w-100">#}
{#          {% for skill in page.header.skills %}#}
{#            <div class="col-4 px-4 text-center flex-grow-0">#}
{#              <i class="{{ skill.icon }} fa-3x secondary-ic mb-2"></i>#}
{#              <div>#}
{#                {{ skill.text }}#}
{#              </div>#}
{#            </div>#}
{#          {% endfor %}#}
{#        </section>#}
        <section id="about-timeline" class="flex-center flex-column">
          <h3 class="mb-5">Formation</h3>
          <div id="timeline-container" class="d-flex flex-row">
            <div class="flex-grow-1 flex-column px-3 d-none d-md-block" id="left-timeline">
              {% for index, i in page.header.timeline %}
                {% if index%2 == 1 %}
                  <div class="timeline-description">
                    <span class="timeline-date display-5">{{ i.date }}</span>
                    <ul>
                      <li>
                        <h4>{{ i.title }}</h4>
                        <div>{{ i.description }}</div>
                      </li>
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
            <div class="flex-grow-0">
              <div class="timeline-line">
                <div class="w-100 h-100 bg-primary">
                  {% for i in page.header.timeline %}
                  <div class="border-primary border border-5 timeline-circle"></div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="flex-grow-1 flex-column px-3" id="right-timeline">
              {% for i in page.header.timeline %}
              <div class="timeline-description">
                <span class="timeline-date display-5">{{ i.date }}</span>
                <ul>
                  <li>
                    <h4>{{ i.title }}</h4>
                    <div>{{ i.description }}</div>
                  </li>
                </ul>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </div>
      <div class="card-footer w-100 flex-center p-4">
        {% for link in page.header.footer %}
          <a href="{{ link.link }}" class="btn btn-primary"><i class="{{ link.icon }}"></i> {{ link.text }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
