{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="card p-lg-5">
    <div class="card-body">
      <div class="mb-3">{{ page.content }}</div>
      {% include "forms/form.html.twig" %}
    </div>
  </div>
{% endblock %}
