{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
  {% do assets.addCss('theme://css/bricklayer.css') %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% do assets.add('theme://js/bricklayer.min.js', {'group':'bottom'}) %}
  {% do assets.add('theme://js/scopedQuerySelectorShim.min.js', {'group':'bottom'}) %}
{% endblock %}

{% block content %}
  {% for module in page.collection %}
    <div class="d-flex align-items-center mb-4">
      <h2 >{{ module.title }}</h2>
      <button
              class="btn btn-sm btn-outline-info waves-effect px-3 mx-4"
              type="button"
              data-toggle="collapse"
              data-target="#proj-{{ module.currentPosition }}"
              aria-expanded="true"
              aria-controls="proj-{{ module.currentPosition }}">
        <i class="fas fa-ellipsis-h" aria-hidden="true"></i>
      </button>
    </div>
    <div class="collapse show" id="proj-{{ module.currentPosition }}">
      {{ module.content|raw }}
    </div>
  {% endfor %}
{% endblock %}
