{% extends 'partials/base.html.twig' %}

{% block content %}
  <div class="main-content col-12 flex-column h-100" id="particles-js">
    <div class="particles col-12 flex-center" id="particles-js21">
      <div class="main-title-rectangle m-5 d-flex flex-center flex-column">
        <h1 class="bg-white head0">{{ page.header.heading0 }}</h1>
        <h1 class="bg-white head1">{{ page.header.heading1 }}</h1>
      </div>
    </div>
    <div class="main-subtitle col-lg-12 col-md-8 text-center flex-center my-5"> <!-- TODO Check removed class "col-md-6" -->
      <div class="back-heading d-none d-md-block">{{ page.header.subtitle }}</div>
      <h2>{{ page.header.subtitle }}</h2>
    </div>
    <div class="col-lg-12 col-md-8">
      {{ page.content }}
    </div>
  </div>
  {% do assets.addJs('theme://js/particles.min.js', {'group':'bottom'}) %}
  {% do assets.addJs('theme://js/init-particles.js', {'group':'bottom'}) %}
  <img src="{{ url('theme://images/vector.PNG') }}" class="vector-background d-none d-md-block"/>
  {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js', {'group':'bottom'}) %}
  {% do assets.addJs('theme://js/init-gsap.js', {'group':'bottom'}) %}
  </script>
{% endblock %}
