{% macro nav_loop(page, desktop) %}
  {% import _self as macros %}
  {% for p in page.children.visible %}
    {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
    <li>
      {% if desktop %}
      <div class="nav-divider" style="background-image: url('{{ url("theme://images/ellipsis.png") }}')"></div>
      {% endif %}
      <a href="{{ p.url }}" class="{% if active_page %}active{% endif %}">
        <span class="nav-label"><span class="px-2 text">{{ p.menu }}</span></span>
        {% if desktop %}
          <i class="far {{ p.header.icon }} fa-2x"></i>
        {% endif %}
      </a>
    </li>
  {% endfor %}
{% endmacro %}
