{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}" class="mm-wrapper_sidebar-closed">
<head>
  {% block head %}
    <meta charset="utf-8"/>
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}"/>
    <link rel="canonical" href="{{ page.url(true, true) }}"/>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap" rel="stylesheet">

  {% endblock head %}

  {% block stylesheets %}
    {% do assets.addCss('theme://css/bootstrap.min.css', 100) %}
    {% do assets.addCss('https://use.fontawesome.com/releases/v5.8.2/css/all.css', 99) %}
    {% do assets.addCss('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 95) %}
    {% do assets.addCss('theme://css/mdb-free.css', 98) %}
    {% do assets.addCss('theme://css/custom.css', 97) %}
    {% do assets.addCss('theme://css/scrollbars.css', 96) %}
    {% do assets.addCss('theme://css/bricklayer.css', 95) %}
    {% do assets.addCss('https://unpkg.com/aos@next/dist/aos.css', 94) %}
  {% endblock %}

  {% block javascripts %}
    {% do assets.addJs('https://code.jquery.com/jquery-3.3.1.min.js', {'group':'bottom'}) %}
    {% do assets.addJs('theme://js/popper.min.js', {'group':'bottom'}) %}
    {% do assets.addJs('theme://js/bootstrap.min.js', {'group':'bottom'}) %}
    {% do assets.addJs('theme://js/styles.js', {'group':'bottom'}) %}
    {% do assets.add('theme://js/bricklayer.min.js', {'group':'bottom'}) %}
    {% do assets.add('theme://js/scopedQuerySelectorShim.min.js', {'group':'bottom'}) %}
    {% do assets.addJs('theme://js/mdb.min.js', {'group':'bottom'}) %}
    {% do assets.addJs('https://unpkg.com/aos@next/dist/aos.js', {'group':'bottom'}) %}
  {% endblock %}

  {% block assets deferred %}
  {{ assets.css()|raw }}
  {{ assets.js()|raw }}
  {% endblock %}
</head>
<body id="top" class="scrollbar scrollbar-morpheus-den {{ page.header.body_classes }}">
{% include 'partials/mobile-navigation.html.twig' %}
<div class="body-wrapper {{ page.header.bodywrapper_classes }}">
  {% block body %}
    <section id="body" class="w-100 h-100 flex-center">
      <div class="container padding">
        {% block content %}{% endblock %}
      </div>
    </section>
  {% endblock %}
  {% block header %}
    <div class="sidebar d-none d-md-block">
      {% block header_navigation %}
        <nav class="main-nav">
          {% include 'partials/navigation.html.twig' %}
        </nav>
      {% endblock %}
    </div>
  {% endblock %}
</div>
{% block footer %}
  <div class="footer text-center text-white py-4 d-block d-md-flex justify-content-center align-items-stretch">
      <div class="flex-column flex-center my-3 flex-grow-1">
        More about me
        <div class="px-3 box-container bg-white">
          {% include 'partials/socialmedia.html.twig' %}
        </div>
      </div>
      <div class="flex-column text-center my-3 flex-grow-1">
        <div class="flex-center">
          <i class="far fa-copyright mx-1"></i> Laurent Chassot, <script>document.write(new Date().getFullYear())</script>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block bottom %}
  {{ assets.js('bottom')|raw }}
{% endblock %}

<script>
  //Bricklayer
  $('.bricklayer').each(function() {
    new Bricklayer(this)
  });
  AOS.init();
</script>
</body>
</html>
