<div class="card">
  {% set image = page.media.images|first %}
  {{ image.html('', '', 'w-100 img-banner card-img-top')|raw }}

<div class="card-body p-md-5">
{% if not hero_image_name %}
    <div class="content-title text-center">
        <div class="card-title"><h1>{{ page.title }}</h1></div>
        {% if page.header.subtitle %}
        <h3>{{ page.header.subtitle }}</h3>
        {% endif %}
{#        {% include 'partials/blog/date.html.twig' %}#}
        {% include 'partials/blog/taxonomy.html.twig' %}
    </div>
{% endif %}
    <div class="e-content mt-5" data-aos="fade-up">
      {{ widget('top') }}
      {{ page.content|raw }}
      {{ widget('bottom') }}
    </div>

    {% if page.header.continue_link is same as(true) and config.plugins.comments.enabled %}
        {% include 'partials/comments.html.twig' %}
    {% endif %}
</div>
<div class="card-footer">
  <p class="prev-next text-center p-2">
    {% if not page.isLast %}
      <a class="btn btn-info" href="{{ page.prevSibling.url }}"><i class="fa fa-angle-left"></i> {{ page.prevSibling.title }}</a>
    {% endif %}

    {% if not page.isFirst %}
      <a class="btn btn-info" href="{{ page.nextSibling.url }}">{{ page.nextSibling.title }} <i class="fa fa-angle-right"></i></a>
    {% endif %}
  </p>
</div>
</div>