{% set logo = theme_var('custom_logo') %}
<a href="{{ home_url }}">
{% if logo %}
  {% set logo_file = (logo|first).name %}
  <img class="mx-2" src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ site.name }}" />
{% else %}
  <img src="{{ url('theme://images/grav-logo.svg') }}" alt="{{ site.name }}" />
{% endif %}
</a>