{% import 'macros/macros.html.twig' as macros %}
<nav class="d-md-none navbar navbar-dark fixed-top scrolling-navbar">
  <span class="navbar-brand">
    {% include 'partials/logo.html.twig' %}
  </span>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarLinks"
          aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon"><span></span><span></span><span></span></div>
  </button>
  <div class="collapse navbar-collapse flex-center" id="navbarLinks">
    <ul>
      {{ macros.nav_loop(pages, false) }}
    </ul>
  </div>
</nav>
<script>
  let prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
    let currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementsByClassName("navbar")[0].style.top = "0";
    } else {
      document.getElementsByClassName("navbar")[0].style.top = "-70px";
    }
    prevScrollpos = currentScrollPos;
  }
</script>