{% import 'macros/macros.html.twig' as macros %}
<div id="sidenav">
  <div class="rect rect-0">
    <div class="rect rect-1">
      <div class="rect rect-2">
        <div class="nav-container logo flex-center">
          {% include 'partials/logo.html.twig' %}
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul>
      {{ macros.nav_loop(pages, true) }}
    </ul>
  </nav>
</div>