<div class="card mb-3">
    {% set image = page.media.images|first %}
    {% if image %}
    <div class="card-image">
        <a href="{{ page.url }}">{{ image.cropZoom(800,400).html('', '', 'card-img-top')|raw }}</a>
    </div>
    {% endif %}
{#    <div class="card-header">#}
{#      {% include 'partials/blog/date.html.twig' %}#}
{#    </div>#}
    <div class="card-body">
      <div class="card-title">
        {% include 'blog/title.html.twig' with {title_level: 'h5'} %}
      </div>
{#        {% if page.summary != page.content %}#}
{#            {{ page.summary|raw }}#}
{#        {% else %}#}
{#            {{ page.content|raw }}#}
{#        {% endif %}#}
    </div>
    <div class="card-footer">
      <span class="tags">
        {% for tag in page.taxonomy.tag %}
          <a class="chip" href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}#body-wrapper">{{ tag }}</a>
        {% endfor %}
      </span>
    </div>
</div>

